{% extends '@!EasyAdmin/layout.html.twig' %}


{% block header_logo %}
    <a class="logo text-center" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
        <img src="{{ asset('images/Toham_Avatar.png') }}" width="100" alt="">
    </a>
{% endblock header_logo %}

{% block header_custom_menu %}
    <div class="d-flex align-items-stretch gap-3">
        {% if not google.accessTokenExpired %}
            <span class="border rounded px-1 d-flex align-items-center">
                <i class="fas fa-circle text-success me-1"></i> Google
            </span>
        {% else %}
            <a class="border rounded px-1 d-flex align-items-center" href="{{ path('google_auth') }}">
                <i class="fas fa-circle text-danger me-1"></i> Google
            </a>
        {% endif %}
        <div class="dropdown user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}">
            <a class="user-details" type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false">
                {{ user_menu_avatar }}
                {% if ea.userMenu.isNameDisplayed %}
                    <span class="user-name">{{ ea.userMenu.name }}</span>
                {% endif %}
            </a>

            {{ user_menu_dropdown }}
        </div>
    </div>
{% endblock header_custom_menu %}
